@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* #029F8c */ /* #dddddd */ /* #383838 */ /* #f7941d */ /*#ff6b6b */ #8d8e8d 

*{
    font-family: "comfortaa", sans-serif;
    text-decoration: none;
    color: #383838;
    padding: 0;
    margin: 0;
    /* outline: 2px solid lightgreen; */
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 1400px;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #fafafa;
}

header{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 2% 0;
}

a#logo{
    font-family: "comfortaa", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #029F8c;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-items: center;
    transition: all .4s;  
}

#logo:hover{
    opacity: 0.7;
}

a > img{
    width: 35px;
}

nav{
    gap: 30px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

nav > a{
    font-family: "comfortaa", sans-serif;
    text-decoration: none;
    color: #029F8c;
    font-size: 20px;
    font-weight: 500;
    transition: all .4s;
	position: relative;
    cursor: pointer;
}

nav > a:hover,
nav > a.colored{
    color: #f7941d;
}

nav > a:after,
nav > a:active:after{
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: #f7941d; /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}

nav > a:hover:after,
nav > a:focus:after,
nav > a.active-link:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: "comfortaa", sans-serif;
    color: #029F8c;
}

section{
    display: flex;
    align-items: center;
}

div{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'comfortaa', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

hr{
    height: 2px;
    width: 100px;
    border: 0px;
    border-radius: 50px;
    background-color: #808080;
}

div > p{
    font-family: "comfortaa", sans-serif;
    color: #8d8e8d;
}

img{
    max-height: 45vh;
    border-radius: 50%;
}

