/* / Общие стили / */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    font-family: 'comfortaa', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Raleway', sans-serif; */
    color: #333;
    /* outline: 2px solid lightgreen; */

}

body {
    z-index: 2;
    overflow-x: hidden;
    margin: 0;
    font-family: 'comfortaa', sans-serif;
    color: #333;
    background: #fff;
}

.no-scroll {
  overflow-y: hidden !important;
  height: 100vh;
}

.body_hide {
	opacity: 0;
	transition: 2s opacity ease-in-out;
}

.body_visible {
	opacity: 1;
}

.element-animation {
    opacity: 0;
    transform: translateY(0%);
}

.element-animation {
    opacity: 0;
    transform: translateY(15%);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

h1, h2, h3 {
font-family: 'comfortaa', sans-serif;
margin: 10px 0;
color: #444;
z-index: 2;
}

h2{
    font-size: 40px;
}

h3{
    width: fit-content;
    font-size: 25px;
    margin: 0 auto;
}

a {
text-decoration: none;
color: inherit;
}

.anchor{
    display: none;
}

.container {
    scroll-margin-top: 5rem;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

header {
background: #fff;
box-shadow: 0 2px 5px rgba(0,0,0,0.05);
position: sticky;
top: 0;
z-index: 100;
}

.header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    flex-wrap: wrap;
}

.logo > img {
    top: 5px;
    left: -5px;
    position: absolute;
    height: 25px;
    rotate: -40deg;
    z-index: 1;
}

a.logo{
    z-index: 2;
font-size: 30px;
font-weight: 600;
color: #678368;
transition: all .4s;
}

.logo:hover{
    color: #678368a6;
}

nav {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

nav a,
.footer-nav > a{
    margin: 5px 10px;
    font-weight: 500;
    transition: all .4s;
    position: relative;
    cursor: pointer;
}

nav a:hover,
nav > a.colored,
.footer-nav > a:hover{
    color: #678368;
}

nav > a:after,
nav > a:active:after{
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: #678368; /*задаём цвет линии*/
	content: "";
	transition: width 0.2s ease-out; /*задаём время анимации*/
}

nav > a:hover:after,
nav > a:focus:after,
nav > a.active-link:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

nav a.active-link,
nav a.active-link >i,
li a{
    color: #678368;
}

.burger-btn,
.burger-nav{
    display: none;
}

.btn {
    background: #678368;
    color: #fff;
    padding: 15px 40px;
    border: 2px solid #678368;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background: #fff;
    border: 2px solid #678368;
    color: #678368;
}

section.hero {
    height: 93vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    /* background: url('../media/img/buket-iz-smesannyh-fruktov.jpg'); */
    /* background: url('../media/img/banner_01.jpg'); */
    background: url('../media/bg/banner_desk.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0 20px;
}

.hero h1 {
    /* background-color: #678368; */
    /* padding: 25px 50px; */
    color: #fff;
    font-size: 6rem;
    margin-top: 100px;
}

.hero p {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-content > a{
    font-size: 25px;
    /* padding: 10px 45px; */
}

main{
    width: 100vw;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 250px;
}

#catalog,
#review{
    position: relative;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog h2,
.review h2,
#privacy > h2{
    text-align: center;
    margin: 40px 0 20px;
}

.categories {
    gap: 25px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.categories button {
    font-size: 15px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    /* border-radius: 20px; */
    background: #f5f5f5;
    cursor: pointer;
    transition: all .3s;
    z-index: 1;
}

#catalog > .btn{
    font-size: 1rem;
    margin-top: 50px;
}

.categories button:hover{
    background: #678368;
    color: #fff;
}

.categories .active {
    background: #678368;
    color: #fff;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 250px;
}

.buy-link{
    padding: 10px 15px;
}

details{
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

details::content{
    height: 0;
    transition: height 3s;
}

details[open]::content{
    height: auto;
}

.price{
    font-weight: 900;
}

.description{
    margin-top: 15px;
}

.price,
.description{
    font-size: 1.2rem;
}

.card img {
width: 100%;
border-radius: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.swiper {
    max-width:  310px;
    height: fit-content;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

#catalog > .swiper{
    width: 100vw;
}

.swiper-pagination{
    position: sticky !important;
    /* margin-bottom: 18px; */
}

.swiper-pagination-bullet{
    background-color: #bbbbbb !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    background-color: #678368 !important;
    opacity: 1 !important;
}

.swiper-slide{
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    cursor: pointer;
    display: block;
    width: 310px;
    height: 414px;
    object-fit: cover;
}

.swiper > .name{
    font-size: 23px;
    font-weight: 900;
    margin: 15px 0;
}

.swiper-button-next, .swiper-button-prev {
    color: #678368;
}

.pagination-container{
    height: 18px;
}

.hidden{
    display: none !important;
}

#about{
    scroll-margin-top: 10rem;
}

#orders{
    scroll-margin-top: 5rem;
}

.about {
    position: relative;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    gap: 40px;
}

.about-text > h2{
    font-size: 65px;
}

.about-text ul {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.about-text li {
    margin: 10px 0;
    font-size: 16px;
}

.about-img img {
    border-radius: 50%;
    width: 27vw;
}

.bg-flowers{
    position: absolute;
    width: 550px;
    opacity: 0.7;
}

.bg-flowers:nth-child(1){
    top: -100px;
    left: -270px;
    rotate: -45deg;
}

.bg-flowers:nth-child(2){
    rotate: -45deg;
    transform: scale(-1, -1);
    top: 25px;
    right: -250px;
}

.info-blocks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-item {
    position: relative;
    flex: 1;
    background: #fff6f08e;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 307px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
}

#order,
#delivery,
#payment{
    width: 100vw;
    display: flex;
}

.info-img{
    background-size: cover;
    background-image: url('../media/bg/order_desktop.jpg');
    width: 63vw;
    height: 55vh;
}

.info-img:nth-child(2){
    background-image: url('../media/bg/delivery_desk.jpg');
}

.order:nth-child(3) > .info-img{
    width: 59.6vw;
    background-size: cover;
    background-image: url('../media/bg/payment_desktop.jpg');
}


#order > .info-block,
#delivery > .info-block,
#payment > .info-block{
    display: flex;
    flex-direction: column;
    padding: 50px 5px;
    background-color: #f3eeea;
}

#order > .info-block > h3,
#delivery > .info-block > h3,
#payment > .info-block > h3{
    /* border-bottom: 2px solid #c7c7c7; */
    font-size: 3rem;
    padding: 15px;
    margin-bottom: 50px;
    color: #fff;
    background: #678368 !important;
}

#order > .info-block > ul,
#delivery > .info-block > ul,
#payment > .info-block > ul{
    list-style: none;
}

#order > .info-block > ul > li,
#delivery > .info-block > ul > li,
#payment > .info-block > ul > li,
#privacy > p{
    font-size: 20px;
    margin-bottom: 15px;
}

.info-item > img {
    margin: 0 auto;
    max-width: 307px;
}

.info-item > ul > li{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    list-style: '💎 ';
    list-style-position: outside;
}

.info-item > ul{
    position: relative;
}

ul > img{
    left: 15px;
    margin-top: 5px;
    position: absolute;
    max-width: 500px;
}

.reviews{
    gap: 30px;
    display: flex;
    margin-bottom: 30px;
}

.review-item{
    background-color: #fff ; 
    z-index: 2;
    padding: 15px 25px;
    display: flex;
    width: 33%;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
}

.review-item > img{
    border-radius: 10px;
}

.user{
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.user > .name{
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 10px;
    font-weight: 600;
}

.user > .avatar{
    grid-area: 1 / 1 / 3 / 2;
    width: 70px;
    border-radius: 50%;
}

.user > .stars{
    width: 125px;
    grid-area: 2 / 2 / 3 / 3;
}

.review-text{
    margin-left: 5px;
    text-align: justify;
}

#review > .btn{
    font-size: 20px;
}

#review > .blured{
    display: none;
    bottom: -50px;
    left: 100px;
    position: absolute;
    width: 172px;
    height: 172px;
    filter: blur(150px);
    background: #ff9215;
}

.contacts {
    width: 100vw;
    text-align: center;
}

.socials{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.socials a{
    position: relative;
    width: 30vw;
    height: 45vh;
}

.social-poster{
    padding: 0;
    width: 30vw;
    height: 45vh;
    background-size: cover;
}

.social-poster:nth-child(1){
    background: url('../media/bg/banner.jpg');
    background-size: cover;
}

.socials a:nth-child(2) > .social-poster{
    background: url('../media/bg/order_desktop.jpg');
    background-size: cover;
}

.socials a:nth-child(3) > .social-poster{
    background: url('../media/bg/payment.jpg');
    background-size: cover;
}

.social-blur{
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    align-content: center;
    z-index: 4;
    font-size: 50px;
    background-color: #678368;
    opacity: 0.85;
    color: #fff;
    transition: all .5s;
}

.social-blur > span{
    color: #fff;
    font-size: 20px;
}

.social-blur > i{
    color: #fff;
}

.socials > a:hover > .social-blur{
    opacity: 0.99;
}

#privacy > privacy-content{
    max-width: 1400px;
}

.privacy-link{
    color: #678368;
}

footer {
    margin-top: 100px;
    background: #f3eeea;
    padding: 20px 0;
}

.footer-inner {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap: 20px;
}

.footer-copy {
margin: 10px 0;
font-size: 14px;
color: #666;
text-align: center;
}

.footer-copy > span{
    font-size: 14px;
    color: #666;
}

.footer-socials a {
margin: 0 5px;
font-size: 30px;
}

.footer-socials > a > i{
    transition: all.4s;
}

.footer-socials > a:hover > i{
    color: #678368;
}

@media (max-width: 992px) {
header > div > a.btn{
        display: none;
    }

    nav {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    nav a {
    margin: 8px 0;
    }

    .categories{
    gap: 5px;
    flex-wrap: wrap;
}

.card {
width: 100%;
max-width: 320px;
}

    .footer-inner {
flex-direction: column;
text-align: center;
}

.burger-btn{
    border: none;
    display: block;
    background-color: transparent;
}

.burger-nav{
    position: relative;
    display: none;
    flex-direction: column !important;
    gap: 25px;
    background-color: #678368;
    height: 100vh;
    width: 101vw;
    top: 64px;
    left: 0;
    padding: 25px 0 0 25px;
    position: fixed;
    transition: all .5s;
}

.burger-nav > .burger-socials > .footer-socials > a > i{
    color: #ffffff98;
    font-size: 35px;
}

.burger-socials{
    position: absolute;
    bottom: 10%;
    width: 95vw;
}

.burger-nav.active{
    display: flex;
}

.burger-nav > a{
    font-size: 2rem;
    color: #fff;
    width: fit-content;
    border-bottom: 2px solid #f3eeea;
}

.close-btn{
    background: none;
    padding: 20px 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    top: 15px;
    right: 15px;
}

.burger-nav > .burger-socials > .footer-copy,
.burger-nav > .burger-socials > .footer-copy > #year{
    font-size: 15px;
    height: 15px;
    color: #ffffff98;
}
.burger-nav > .burger-socials > .footer-copy{
    border-top: 2px solid #ffffff98;
    padding-top: 10px;
    margin-right: 25px;
    text-align: left;
}

.about {
flex-direction: column;
/* text-align: center; */
}

.bg-flowers{
    display: none;
}

p.description{
    font-size: 1.5rem;
}

.about ul li{
    font-size: 2rem;
}

.about-img img{
    width: 70vw;
}

.categories{
    gap: 5px;
    flex-wrap: wrap;
}

.info-blocks {
flex-direction: column;
}

.products {
justify-content: center;
}

.info-img{
    background-size: cover;
    background-image: url('../media/bg/order.jpg');
    width: 63vw;
    height: 55vh;
}

.info-img:nth-child(2){
    background-image: url('../media/bg/delivery_desktop_01.jpg');
}

.order:nth-child(3) > .info-img{
    width: 59.6vw;
    background-size: cover;
    background-image: url('../media/bg/payment.jpg');
}

}

@media (max-width: 768px) {
    header.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        width: 100vw;
    }

    section.hero{
    background: url('../media/bg/banner_01.jpg');
    align-items: flex-start;
    background-size: cover;
    }

    .hero h1 {
        /* margin-top: 100px; */
        font-size: 4rem;
    }

.hero p {
font-size: 36px;
}

header > div > a.btn{
        display: none;
    }

    nav {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    nav a {
    margin: 8px 0;
    }

.categories{
    gap: 5px;
    flex-wrap: wrap;
}

.card {
width: 100%;
max-width: 320px;
}

    .footer-inner {
flex-direction: column;
text-align: center;
}

.burger-btn{
    border: none;
    display: block;
    background-color: transparent;
}

.burger-nav{
    position: relative;
    display: none;
    flex-direction: column !important;
    gap: 25px;
    background-color: #678368;
    height: 100%;
    width: 101vw;
    top: 64px;
    left: 0;
    padding: 25px 0 0 25px;
    position: fixed;
    transition: all .5s;
}

.burger-nav > .burger-socials > .footer-socials > a > i{
    color: #ffffff98;
    font-size: 35px;
}

.burger-socials{
    position: absolute;
    bottom: 10%;
    width: 95vw;
}

.burger-nav.active{
    display: flex;
}

.burger-nav > a{
    font-size: 2rem;
    color: #fff;
    width: fit-content;
    border-bottom: 2px solid #f3eeea;
}

.close-btn{
    background: none;
    padding: 20px 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    top: 15px;
    right: 15px;
}

.burger-nav > .burger-socials > .footer-copy,
.burger-nav > .burger-socials > .footer-copy > #year{
    font-size: 15px;
    height: 15px;
    color: #ffffff98;
}
.burger-nav > .burger-socials > .footer-copy{
    border-top: 2px solid #ffffff98;
    padding-top: 10px;
    margin-right: 25px;
    text-align: left;
}

.socials{
    width: 100vw;
    flex-direction: column;
}

.socials > a{
    margin: 0;
    width: 100vw;
    height: 37vh;
}

.socials > a > .social-poster{
    height: inherit;
    width: inherit;
}

.about-img img{
    width: 70vw;
}

.reviews{
    flex-direction: column;
}

.review-item{
    width: 100%;
}

#order,
#delivery,
#payment{
    flex-direction: column !important;
}

#delivery{
    flex-direction: column-reverse !important;
}

.info-img,
.info-img:nth-child(2),
.order:nth-child(3) > .info-img{
    width: 100vw;
}

#order > .info-block,
#delivery > .info-block,
#payment > .info-block{
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 0;
    text-align: left;
    background-color: #f3eeea;
}

.info-block > h3{
    width: 100vw;
    font-size: 20px;
    text-align: center;
}

.bg-flowers{
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
}

.mySwiper {
     width: 100%;
  max-width: 260px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mySwiper .swiper-wrapper {
  height: 220px; /* можно подогнать — увеличь или уменьши */
}

/* Фото подгоняем по размеру */
.mySwiper img {
    width: 100%;
  height: 100%;
  object-fit: cover; /* сохраняет пропорции, заполняя контейнер */
  display: block;
}
}

@media (max-width: 480px) {
    header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* чтобы меню всегда было сверху */
    }

    section.hero{
    /* background: url('../media/img/banner.jpg'); */
    background: url('../media/bg/banner_01.jpg');
    background-size: cover;
    }

        .hero h1 {

    font-size: 3rem;
    }

    .hero p {
        font-size: 22px;
    }

    #about > h2,
    #privacy > h2{
    font-size: 2rem;
}

.privacy-content{
    text-align:start;
}

    header > div > a.btn{
        display: none;
    }

    nav {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    nav a {
    margin: 8px 0;
    }


.categories{
    gap:5px;
    flex-wrap: wrap;
}

.about-text > h2{
    font-size: 3.2rem;
}

.about-text ul{
    text-align: left;
}

.bg-flowers{
    display: none;
}

.about-img img{
    width: 90vw;
}

.reviews{
    flex-direction: column;
}

#order,
#delivery,
#payment{
    flex-direction: column !important;
}

#delivery{
    flex-direction: column-reverse !important;
}

.info-img,
.info-img:nth-child(2),
.order:nth-child(3) > .info-img{
    width: 100vw;
}

#order > .info-block,
#delivery > .info-block,
#payment > .info-block{
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 0;
    text-align: left;
    background-color: #f3eeea;
}

.info-block > h3{
    width: 100vw;
    font-size: 20px;
    text-align: center;
}

.burger-btn{
    border: none;
    display: block;
    background-color: transparent;
    /* content: url('../media/icons/menu.svg'); */
}

.burger-nav{
    position: relative;
    display: none;
    flex-direction: column !important;
    gap: 25px;
    background-color: #678368;
    height: 100%;
    width: 101vw;
    top: 64px;
    left: 0;
    padding: 25px 0 0 25px;
    position: fixed;
    transition: all .5s;
}

.burger-nav > .burger-socials > .footer-socials > a > i{
    color: #ffffff98;
    font-size: 35px;
}

.burger-socials{
    position: absolute;
    bottom: 10%;
    width: 95vw;
}

.burger-nav.active{
    display: flex;
}

.burger-nav > a{
    font-size: 1.5rem;
    color: #fff;

    border-bottom: 2px solid #f3eeea;
}

.close-btn{
    background: none;
    padding: 20px 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    top: 15px;
    right: 15px;
}

.burger-nav > .burger-socials > .footer-copy,
.burger-nav > .burger-socials > .footer-copy > #year{
    font-size: 15px;
    height: 15px;
    color: #ffffff98;
}
.burger-nav > .burger-socials > .footer-copy{
    border-top: 2px solid #ffffff98;
    padding-top: 10px;
    margin-right: 25px;
    text-align: left;
}

.socials{
    width: 100vw;
    flex-direction: column;
}

.socials > a{
    margin: 0;
    width: 100vw;
    height: 37vh;
}

.socials > a > .social-poster{
    height: inherit;
    width: inherit;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
}

.mySwiper {
     width: 100%;
  max-width: 260px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mySwiper .swiper-wrapper {
  height: 220px; /* можно подогнать — увеличь или уменьши */
}

/* Фото подгоняем по размеру */
.mySwiper img {
    width: 100%;
  height: 100%;
  object-fit: cover; /* сохраняет пропорции, заполняя контейнер */
  display: block;
}

}